{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="checkout-container">
        <div class="order-details order-summary">
            <h2>Order Details</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
        <div class="order-summary">
            <h2>Payment Summary</h2>

            <p>Total: €{{ cart_total }}</p>
            <a href="{% url 'view_cart' %}" class="btn btn-secondary">Return to Cart</a>
            <a href="#" class="btn btn-primary">Complete Order - €{{ cart_total }}</a>
        </div>
    </div>
</div>
{% endblock %}