a:hover {
    text-decoration: none;
}

.logo {
    width: 100px;
    height: 80px;
    border-radius: 5%;
}


/* Hide original icons on small screens */
@media (max-width: 991.98px) {
    .header-icons {
        display: none;
    }

    .mobile-icons {
        display: inline-flex;
        /* Show the mobile icons in a row */
    }
}

/* Show original icons on larger screens */
@media (min-width: 992px) {
    .mobile-icons {
        display: none;
        align-items: center;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .mobile-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mobile-icons {
    align-items: center;
}

.mobile-icons .nav-link {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-image: url('../../media/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    top: 50px;
}