<!-- Navbar with Dropdown -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav">
            <!-- Products Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="productsDropdown">
                    <a class="dropdown-item" href="#">Clothing</a>
                    <a class="dropdown-item" href="#">Gloves</a>
                    <a class="dropdown-item" href="#">Pads</a>
                    <a class="dropdown-item" href="#">Protective Gear</a>
                </div>
            </li>

            <!-- Training Plans Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="trainingDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Training Plans
                </a>
                <div class="dropdown-menu" aria-labelledby="trainingDropdown">
                    <a class="dropdown-item" href="#">Strength Plans</a>
                    <a class="dropdown-item" href="#">Cardio Plans</a>
                    <a class="dropdown-item" href="#">Nutrition Plans</a>
                </div>
            </li>

            <!-- Membership Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="membershipDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Membership
                </a>
                <div class="dropdown-menu" aria-labelledby="membershipDropdown">
                    <a class="dropdown-item" href="#">Gym Membership</a>
                    <a class="dropdown-item" href="#">Online Content Subscription</a>
                </div>
            </li>
        </ul>
    </div>
</nav>