{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="overlay">
<h1>User Profile</h1>
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ profile_picture_form.as_p }}
    <button type="submit">Update Profile</button>
</form>
{% if user_profile.profile_picture %}
    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" style="height: 300px; width: 300px;">
{% endif %}
</div>
<br>
<div class="overlay">
    <h2>Your Orders</h2>
    <ul>
        {% for order in orders %}
        <li>
            Order Number: {{ order.order_number }}<br>
            Date Ordered: {{ order.date }}<br>
            Total Amount: €{{ order.order_total }}<br>
        </li>
        {% empty %}
        <li>No orders found.</li>
        {% endfor %}
    </ul>
</div>
<br>
<div class="overlay">
    <h2>Your Wishlist</h2>
    <ul>
        {% for product in wishlist.products.all %}
        <li>
            {{ product.name }}<br>
            Price: €{{ product.price }}<br>
            <form method="post" action="{% url 'remove_from_wishlist' product.id %}">
                {% csrf_token %}
                <button type="submit">Remove from Wishlist</button>
            </form>
        </li>
        {% empty %}
        <li>Your wishlist is empty.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}