{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <div class="container-with-bg-image overlay">
                <div class="overlay-content">
                    <h2>{{ product.name }}</h2>
                    <p>Category: {{ product.category }}</p>
                    <p>Price: {{ product.price }}</p>
                    <p>Description: {{ product.description }}</p>

                    <div class="mt-2">
                        <form method="POST" action="{% url 'add_to_wishlist' product.id %}">
                            {% csrf_token %}
                            <label for="quantity">Quantity:</label>
                            <input type="number" name="quantity" value="1" min="1" style="width:80px;">
                            <button type="submit" class="btn btn-primary mt-2">Add to Wishlist</button>
                        </form>
                        <form method="POST" action="{% url 'remove_from_wishlist' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-2">Remove from Wishlist</button>
                        </form>
                    </div>

                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1" style="width:80px;">
                        <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="mt-4 overlay">
    <h3>Product Reviews</h3>
    {% if user.is_authenticated %}
        <a href="{% url 'add_review' product.id %}" class="btn btn-primary">Add Review</a>
    {% endif %}
    
    <ul>
        {% for review in product.review_set.all %}
            <li>
                <strong>{{ review.user.username }}:</strong> {{ review.title }} (Rating: {{ review.rating }})
                <p>{{ review.content }}</p>
                {% if user.is_authenticated and review.user == user %}
                <a href="{% url 'delete_review' product_id=product.id review_id=review.id %}" class="btn btn-danger btn-sm">Delete Review</a>
                {% endif %}
            </li>
        {% empty %}
            <p>No reviews for this product yet.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}